.styled-table thead tr {
  background-color: black;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid black;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: black;
}

.styled-table tbody td.active-row {
  font-weight: bold;
  color: red;
}

.styled-table tbody td.inactive-row {
  font-weight: bold;
  color: #009879;
}

.tableContainer {
  display: flex;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
